doctype html  
html(lang='en')  
    head
        title Calendar
        link(rel="stylesheet" href="./css/layout.css")
    body  
      h1
        | Calendar View
      h2
        = message
      content
        div(class='header-grid')
          div(class='week')
            div(class='day header')
              p 
                | Sun
            div(class='day header')
              p 
                | Mon
            div(class='day header')
              p 
                | Tue
            div(class='day header')
              p 
                | Wed
            div(class='day header')
              p 
                | Thu
            div(class='day header')
              p 
                | Fri
            div(class='day header')
              p 
                | Sat
        div(class='grid')
          - for (var week of data) {
            div(class='week')
              - for (var day of week) {
                  div(class = day.classes )
                    div(class='day-number')
                      p 
                      = day.day
                    div(class='month-number')
                      p 
                      = day.month
              -}
          - }
