* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
}

body {
  width: 50%;
  margin: 0 auto;
}

.grid {
  display: grid;
  margin-bottom: 10rem;
  height: 600px;
  overflow-y: scroll;
}

.header-grid {
  display: grid;
}

.day.header {
  text-align: center;
}

.header {
  display:fixed;
  top:0px;
  background: lightGray;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.week {
  display: grid;
  grid-template-columns: repeat(7,50px);
}

.day {
  border: 1px dotted black;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.day--weekend {
  background-color: whiteSmoke;
}

.day--today {
  background-color: gold;
}

.day--border-top {
  border-top: 3px solid black;
}

.day--border-left {
  border-left: 3px solid black;
}

.day--border-right{
  border-right: 3px solid black;
}

.day--first-of-month {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.day-number {
  font-weight: bolder;
  font-size: 1.2rem;
}
