* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: white;
}

body {
  width: 50%;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.header {
  background: wheat;
  color: black;
}
.week {
  display: grid;
  grid-template-columns: repeat(7,50px);
}

.day {
  border: 1px dotted black;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.day--border-top {
  border-top: 3px solid black;
}

.day--border-left {
  border-left: 3px solid black;
}

.day--border-right{
  border-right: 3px solid black;
}

.day--first-of-month {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.day--weekend {
  background-color: lightGrey;
}

.day-number {
  font-weight: bolder;
  font-size: 1.2rem;
}
